<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="teste" value="C:\TempWFAMonitor\"/>
    <add key="chromeDriver" value="../../chromedriver.exe"/>
    <add key="organismoCertificador" value="../../OrganismoCerificador.json"/>  
    <add key="organismoAcreditado" value="../../OrganismoAcreditado.json"/>
    <add key="certificadorJson" value="C:\TempWFAMonitor\"/>
    <add key="certificadosPasta" value="../../certificados/"/>
    <add key="empresaJson" value="C:\TempWFAMonitor\"/>
    <add key="planilha" value="C:\TempWFAMonitor\"/>
    <add key="certificados" value="http://www.inmetro.gov.br/prodcert/certificados/busca.asp?"/>
    <add key="empresascertificados" value="https://certifiq.inmetro.gov.br/Consulta/ConsultaEmpresas"/>

  </appSettings>
</configuration>